.error{
    position: fixed;
    top: 10vh;
    right: 2vw;
    z-index: 9999;
}

.error-message{
    display: flex;
    align-items: center;
    background-color: red;
    border-radius: 4px;
    color: white;
    padding: 3px;
    width: 200px;
    max-width: 300px;
    min-height: 30px;
}

.error-message > * {
    margin: 8px;
    width: 20px;
    height: auto;
}